@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    background-color: darkgray;
}

header{
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
    color: blue;
    text-align: center;
}

form{
    width: 700px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px saddlebrown;
    border-radius: 0.5 rem;
    background-color: beige;
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px saddlebrown;
    padding: auto;
}

legend{
    padding: 0.5rem;
    color: navy;
    font-size: 2rem;
    text-align: center;
}

label, input, button, select, textarea{
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}   

label{
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button{
    margin: 1rem;
    background-color: rgb(18, 1, 1);
    color:white; 
    border: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
}

footer {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color:blue;
    border-top: 1px solid #000;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}
